.checker_temp/
InputData/
OutputData/
RefData/
a.out
checker_log.txt

*.o
*.out
*.exe

*~
*.swp
.DS_Store
Thumbs.db

*.png

.vscode/
.idea/

build/
cmake-build-*/

desktop.ini

*.ref
*.zip
*.png
*.txt
config.json
checker-linux-amd64